<div class="menu-container">
  <div class="navbar">
    <div class="logo">
      <div class="terminal">
        <span class="typing">{{ 'PNicolas@terminal:~$' }}</span><span class="cursor">|</span>
      </div>
    </div>
  </div>
<!--  <div class="links-container">-->
<!--    <div class="links">-->
<!--      <a href="#">Quién soy?</a>-->
<!--      <a href="#">Trayectoria</a>-->
<!--      <a href="#">Tecnologías</a>-->
<!--      <a href="#">Contacto</a>-->
<!--    </div>-->
<!--  </div>-->
</div>
