.app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  app-navbar{
    height: 10%;
  }
  app-terminal-container {
    display: flex;
    width: 100%;
    height: 90%;
  }
}
