:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

.app-container{
  display: flex;
  height: 90%;
  flex-direction: column;
  app-navbar{
    height: 10%;
  }
  app-terminal-container {
    display: flex;
    width: 100%;
    height: 90%;
  }
}
