.container-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  @media(max-width: 640px){
    flex-direction: column;
    justify-content: start;
  }
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  border-left: 1px solid #3b3738;
  border-right: 1px solid #3b3738;
  border-bottom: 1px solid #3b3738;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  img {
    margin-top: 20px;
    border-radius: 50%;
    @media(max-width: 440px) {
      margin-left: 0px;
    }
  }
  .data-aboutme{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    @media(max-width: 640px) {
      margin-left: 0px;
      text-align: center;
    }
    p{
      margin: 0;
    }
    .title{
      font-size: 30px;
      margin-top: 16px;
      color: #ffcc00;
    }
    .subtitle{
      margin: 8px !important;
    }
  }
  .description{
    width: 60%;
    padding-right: 16px;
    @media(max-width: 640px){
      width: 100%;
    }
    margin-top: 12px;
    text-align: justify;
  }
}

.image-info{
  width: 40%;
  @media(max-width: 640px){
    width: 100%;
  }
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-networks {
  display: flex;
  flex-direction: row;
  gap: 8px;
  img {
    cursor: pointer;
  }
}
