<div class="container-aboutme">
  <div class="image-info">
    <img src="assets/pictures/profile-image.jpeg" width="300" height="300">
    <div class="data-aboutme">
      <p class="title">Pedro Nicolás</p>
      <p class="subtitle">Web Developer</p>
      <p class="info">Murcia, España 🇪🇸</p>
    </div>
    <div class="social-networks">
      <img src="assets/icons/icons8-linkedin.svg" alt="LinkedIn" width="60" height="60">
      <img src="assets/icons/icons8-github.svg" alt="LinkedIn" width="60" height="60">
      <img src="assets/icons/icons8-codepen.svg" alt="LinkedIn" width="60" height="60">
    </div>
  </div>
  <div class="description">
    <p>
      Desde pequeño, siempre me ha fascinado la tecnología. <br>
      <br>
      Pasaba horas explorando dispositivos, desmontando cacharros electrónicos y preguntándome cómo funcionaban por dentro. <br>
      Esa curiosidad me llevó al mundo del desarrollo web, donde descubrí mi verdadera pasión: crear aplicaciones que faciliten la vida de las personas.
    </p>
    <p>
      Con <span style="color: red">cinco años de experiencia</span>, me he especializado en <span style="color: #fdbb2d">Angular, Ionic y Java</span>, desarrollando soluciones eficientes y escalables. <br>
      He tenido la oportunidad de trabajar para grandes empresas y, actualmente, formo parte de <span style="color: blue">Convotis</span>, una multinacional en la que contribuyo al desarrollo de software desde su sede en España.
    </p>
    <p>
      Siempre estoy en busca de nuevos retos y tecnologías que me permitan seguir creciendo como desarrollador.
    </p>
  </div>
</div>
