.terminal-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 100%;
  height: 100%;
}
.terminal-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background-color: #3b3738;
  .pricipal{
    display: flex;
    height: 30px;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-left: 8px;
    width: 33%;
    .button{
      height: 8px;
      width: 8px;
      padding: 5px;
      border-radius: 10px;
      &.danger {
        background-color: #dc3545;
      }
      &.warning {
        background-color: #fdbb2d;
      }
      &.success {
        background-color: #27c740;
      }

    }
    .button:hover{
      height: 15px;
      width: 15px;
      border-radius: 15px;
    }
  }
  .name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    color: white;
    gap: 8px;
    align-items: center;
  }


}
.links {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  .section {
    text-align: center;
    width: 25%;
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #201e1f;
    border-bottom: 1px solid #161516;
    &.active{
      background-color: #3b3738;
    }
  }
  .section:hover{
    background-color: #504b4b;
  }

}
.terminal-content{
  width: 100%;
  height: 100%;
}
app-aboutme{
  display: flex;
  width: 100%;
  height: 100%;
}
